:root {
  --back-color: #171a23;
  --font-color: #f4faff;
  --over-color: #29292c;
}

body {
  /* background-color: var(--back-color); */
  color: var(--font-color);

  background: rgb(29, 36, 56);
  background: -moz-radial-gradient(
    circle,
    rgba(29, 36, 56, 1) 0%,
    rgba(23, 26, 35, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(29, 36, 56, 1) 0%,
    rgba(23, 26, 35, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(29, 36, 56, 1) 0%,
    rgba(23, 26, 35, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d2438",endColorstr="#171a23",GradientType=1);
}

.container-fluid {
  padding-top: 4rem;
}

h1,
h5,
p {
  color: var(--font-color);
}

.noto-sans-simple {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-sans-bold {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.playwrite-in {
  font-family: "Playwrite IN", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
