.info-row {
  min-height: 130px;
}

.profile-picture {
  width: 100%;
  height: auto;
  max-width: 200px;
  outline: 1px solid var(--font-color);
  margin-top: 5px;
}

.bio {
  background-color: var(--over-color);
  padding: 16px;
  font-size: 18px;
}

.bio span {
  opacity: 0.5;
  font-size: 14px;
}

/* Mobile */
@media only screen and (max-width: 992px) {
  .info-row {
    margin-bottom: 2rem;
  }
}

/* Desktop */
@media only screen and (min-width: 992px) {
  .info-row {
    margin-bottom: 6rem;
  }

  .bio {
    -webkit-box-shadow: 5px 7px 12px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 5px 7px 12px 5px rgba(0, 0, 0, 0.26);
  }

  .profile-picture {
    -webkit-box-shadow: 5px 7px 12px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 5px 7px 12px 5px rgba(0, 0, 0, 0.26);
  }
}
