b {
  color: var(--font-color);
}

.info-row {
  min-height: 130px;
  margin-bottom: 6rem;
}

.profile {
  width: 100%;
  height: auto;
  outline: 1px solid var(--font-color);
  margin-top: 5px;
}

.bio {
  background-color: var(--over-color);
  padding: 16px;
}
